<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
		<key>front-facing-camera</key>
		<true/>
	</dict>
	<key>artistName</key>
	<string>Stefanini, Inc.</string>
	<key>bundleDisplayName</key>
	<string>Agenda Corporativa</string>
	<key>bundleShortVersionString</key>
	<string>3.2</string>
	<key>bundleVersion</key>
	<string>3.2</string>
	<key>copyright</key>
	<string>© 2017 Stefanini Inc.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Business</string>
	<key>genreId</key>
	<integer>6000</integer>
	<key>itemName</key>
	<string>Agenda Corporativa</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>Stefanini, Inc.</string>
	<key>playlistName</key>
	<string>Agenda Corporativa</string>
	<key>releaseDate</key>
	<string>2017-08-17T15:23:10Z</string>
	<key>s</key>
	<integer>143441</integer>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.stefanini.agendacorporativastf</string>
	<key>subgenres</key>
	<array/>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
