<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.stefanini.agendacorporativa" android:versionCode="5" android:versionName="Beta Aberto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="22" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_PROFILE" />
	<uses-permission android:name="android.permission.READ_PROFILE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
	<application android:label="Agenda Corporativa" android:icon="@drawable/icon"></application>
</manifest>